# Name: Canonical, no spaces, alphanumeric and dashes only
# This will be used as the droplet hostname and the ssh/Ansible Host 
NAME=""
# Repourl (Optional): if you supply a repo, it will be deployed instead of WP
# Must have access to this repo. Optional, new WP if not supplied
REPOURL=""
# Dotoken: Get an API access token for the targeted DO account
DOTOKEN=""
# Publickey: Your public key for ssh access
PUBLICKEY=""
