# Canonical name, no spaces, alphanum + dashes only
NAME=""
# Must have access to this repo. Optional, new WP if not supplied
REPOURL=""
# Get token from targeted DO account
DOTOKEN=""
# Your public key for ssh access
PUBLICKEY=""
