# A Fully qualified domain name will be assembled from subdomain.domain
# Must resolve to the new droplet IP before letsencrypt certificates
# can be issued.
DOMAIN=""
# Email address for letsencrypt and wordpress admin
EMAIL=""
# Dotoken: Get an API access token for the targeted DO account
DOTOKEN=""
