# Variables required on command line
# i.e. ansible-playbook --external-vars="foo=bar"
# mysql_root_password
# fqdn

# https://galaxy.ansible.com/willshersystems/sshd/
---
sshd:
      Compression: true
      Port: 9999
      PasswordAuthentication: no

# https://galaxy.ansible.com/joshualund/ufw/    
ufw_whitelisted_ports:
    -  { port: 9999,  protocol: tcp }
    -  { port: 80,  protocol: tcp }
    -  { port: 443, protocol: tcp }


# https://galaxy.ansible.com/geerlingguy/mysql/
mysql_root_password: "{{ mysql_root_password }}"
mysql_databases:
    - name: wordpress
mysql_users:
    - name: wordpress
      host: "localhost"
      password: "{{ mysql_wp_password }}"
      priv: "wordpress.*:ALL"

# https://galaxy.ansible.com/geerlingguy/nginx/

nginx_conf_template: "{{ playbook_dir }}/templates/nginx.conf.j2"
nginx_client_max_body_size: "64m"
nginx_vhosts:
    - listen: "443 ssl http2"
      server_name: "{{ fqdn }}"
      server_name_redirect: "www.{{ fqdn }}"
      root: "/var/www/html"
      index: "index.php index.html index.htm"
      error_page: "404 /404.html"
      state: "present"
      template: "{{ nginx_vhost_template }}"
      filename: "wordpress.conf"
      extra_parameters: |
        location ~ \.php$ {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        }
        ssl_certificate     /etc/ssl/certs/ssl-cert-snakeoil.pem;
        ssl_certificate_key /etc/ssl/private/ssl-cert-snakeoil.key;
        ssl_protocols       TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

    - listen: "80"
      server_name: "{{ fqdn }} www.{{ fqdn }}"
      return: "301 https://{{ fqdn }}/$request_uri"
      filename: "{{ fqdn }}.80.conf"
...
