---
# If wildcard:
- name: Copying wildcard certs
  when: wildcard == "yes"
  copy:
    src: "{{ wildcardchain }}"
    dest: "/etc/letsencrypt/archive/"
    owner: root
    group: ssl-cert
    mode: 0640

- name: Creates directory for live cert links
  when: wildcard == "yes"
  file: 
    path: "/etc/letsencrypt/live/{{ domain }}"
    state: directory
    owner: root
    group: ssl-cert
    mode: 0640

- name: Link certs into live directory 
  when: wildcard == "yes"
  file:
    src: "../../archive/{{ domain }}/fullchain1.pem"
    dest: "/etc/letsencrypt/live/{{ domain }}/fullchain.pem"
    force: true
    state: link

- name: Link certs into live directory 
  when: wildcard == "yes"
  file:
    src: "../../archive/{{ domain }}/privkey1.pem"
    dest: "/etc/letsencrypt/live/{{ domain }}/privkey.pem"
    force: true
    state: link

- name: Replace ssl_certificate line in nginx
  when: wildcard == "yes"
  lineinfile: 
    dest: /etc/nginx/sites-enabled/wordpress.conf 
    regexp: '^(.*)ssl_certificate\ (.*)$' 
    line: '        ssl_certificate     /etc/letsencrypt/live/{{ domain }}/fullchain.pem;'
    backrefs: yes

- name: Replace ssl_certificate_key line in nginx
  when: wildcard == "yes"
  lineinfile: 
    dest: /etc/nginx/sites-enabled/wordpress.conf 
    regexp: '^(.*)ssl_certificate_key(.*)$' 
    line: '        ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;'
    backrefs: yes

# Else
- name: Replace ssl_certificate line in nginx
  when: wildcard == "no"
  lineinfile: 
    dest: /etc/nginx/sites-enabled/wordpress.conf 
    regexp: '^(.*)ssl_certificate\ (.*)$' 
    line: '        ssl_certificate     /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;'
    backrefs: yes

- name: Replace ssl_certificate_key line in nginx
  when: wildcard == "no"
  lineinfile: 
    dest: /etc/nginx/sites-enabled/wordpress.conf 
    regexp: '^(.*)ssl_certificate_key(.*)$' 
    line: '        ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;'
    backrefs: yes

- name: Restart nginx
  service:
    name: nginx
    state: restarted
