---
- name: Add a user with a bash shell, appending new groups for the user
  user:
    name: "{{ remoteuser }}"
    shell: /bin/bash
    groups: admin,www-data
    append: yes

- name: Install the package "php7.0-tidy"
  apt:
    name: php7.0-tidy
    state: present

- name: Install the package "php7.0-xml"
  apt:
    name: php7.0-xml
    state: present

- name: Install the package "php7.0-mbstring"
  apt:
    name: php7.0-mbstring
    state: present

- name: Install the package "glances"
  apt:
    name: glances
    state: present

- name: nopasswd sudo for dev
  lineinfile:
    dest: /etc/sudoers
    regexp: '^(.*)admin\ ALL=\(ALL\)\ ALL(.*)$'
    line: '%admin ALL=(ALL) NOPASSWD:ALL'
    backrefs: yes
# Delete default nginx conf

# Create swap file
- name: create the file to be used for swap
  command: fallocate -l 4G /mnt/4GB.swap

- name: format the file for swap
  command: mkswap /mnt/4GB.swap

- name: change swap file permissions
  file: path=/mnt/4GB.swap owner=root group=root mode=0600

- name: add the file to the system as a swap file
  command: swapon /mnt/4GB.swap

- name: write swap entry in fstab
  mount: name=none src=/mnt/4GB.swap fstype=swap opts=sw passno=0 dump=0 state=present

